
.icon-woman-with-flower:before { content: '\e800'; } /* '' */
.icon-lotus:before { content: '\e801'; } /* '' */
.icon-massage-session:before { content: '\e802'; } /* '' */
.icon-spa-ointment-with-flower:before { content: '\e803'; } /* '' */
.icon-mobile:before { content: '\e807'; } /* '' */
.icon-call:before { content: '\e809'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-instagram-1:before { content: '\f31e'; } /* '' */