body{
    background-color: #fff;
    color: #212121;
    font-size: 14px;
    font-family: "Open Sans";
    position: relative;
}

header{
    width: 100%;
    height: 80px;
}
.container{
    padding-right: 0px;
    padding-left: 0px;
}
#header_nav{
    position: fixed;
    top: 0px;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    width: 100vw;

}
.main_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;

}
.header_logo{
    flex-grow: 0;
    flex-basis: 300px;
    text-align: left;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 20px;
}
.header_logo_main{
    font-size: 38px;
    font-family: "VivaldiD CL";
    line-height: 1em;
    margin: 0;
}
.header_logo_text{
    margin: 0;
    padding-left: 16px;
}
.header_navbar{
    flex-grow: 1;
    flex-basis: 400px;
    margin-right: 50px;
    margin-left: 50px;
    max-width: 800px;
    padding-top: 20px;
}
ul{
    width: 100%;
    display: flex;
    text-align: center;
}
.nav li{
    flex-basis: 110px;
    flex-grow: 1;
}
.header_navbar a{
    color: #212121;
    font-size: 15px;
}
.header_navbar a:hover{
    color: #212121;
    text-decoration: none;
}
.header_navbar .current a{
    text-decoration: none;
    border-top: 3px solid #ffba31;
    outline:none;
    background-color: inherit;
    padding-top: 7px;
}
a:focus, a:visited, a:hover{
    outline:none;
}
.nav > li > a{
    padding-left: 0px;
    padding-right: 0px;
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > a:visited,
.nav > li > a:active {
    background-color: inherit;
}
.first_block_slider img{
    width: 100vw;
    display: block;
}
.first_block_slider{
    overflow: hidden;
    position: relative;
    height: 40vw;
}
.first_block_slider ul {
    list-style:none;
    position: relative;
    padding: 0;
    margin: 0;
}
section{
    margin-top: -30px;
    padding-top: 30px;
}
.slider_text{
    width: 33vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    left: 60%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.slider_text div{
    font-size: 42px;
    font-family: "Roboto";
    color: #212121;
    margin-top: -30px;
    margin-bottom: 20px;
}

.slider_text a{
    display: block;
    width: 18vw;
    height: 50px;
    text-align: center;
    border: 1px solid #212121;
    font-size: 24px;
    font-family: "Roboto";
    color: #212121;
    padding-top: 5px;
    margin-top: 30px;
}
.slider_text a:hover, .slider_text a:focus, .slider_text a:active{
    text-decoration: none;
    outline: none;
}
@-webkit-keyframes animation_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

@-moz-keyframes animation_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
.slider{
    opacity:0;
    position:absolute;
    top:0;

    -webkit-animation-name: animation_slides;
    -webkit-animation-duration: 24s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0s;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: animation_slides;
    -moz-animation-duration: 24s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0s;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
.slider:nth-child(2), .slider:nth-child(2) div{
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
}
.slider:nth-child(3), .slider:nth-child(3) div{
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
}
.slider:nth-child(4), .slider:nth-child(4) div{
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
}

h2{
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}

.first_page_icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;

}
.first_page_icons_col{
    flex-basis: 150px;
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 10px;
}

.first_page_icons_col div{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(255, 186, 49, 0.9);
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-size: 56px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.icon-spa-ointment-with-flower{
    padding-left: 5px;
}
.first_page_icons_title{
    display: block;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 15px;
}
.first_page_icons_text{
    font-size: 12px;
}
.services_block{
    display: flex;
    flex-wrap: wrap;
    min-height: 25vw;
}
.panel{
    margin: 0;
    border: none;
    box-shadow: none;
}
.panel-group .panel + .panel{
    margin: 0;
}
.services_img{
    flex-basis: 350px;
    flex-grow: 1;
}
.services_text{
    flex-basis: 350px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Roboto";
}
.services_title{
    font-size: 30px;
    color:#212121;
    margin-top: 30px;
    margin-bottom: 20px;
}
.services_btn{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: inherit;
    border: 1px solid #212121;
    width: 150px;
    height: 40px;
    font-size: 18px;
}
.services_btn:focus, .services_btn:active{
    outline: none;
}
.services_massage{
    background-color: #ffdfb9;
}
.services_figure_correction{
    background-color: #cdcae6;
}
.services_spa{
    background-color: #eaecfe;
}
.services_depilation{
    background-color: #f1c9c9;
}
h4{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.services_price{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 2px 4px 7px 3px rgba(33, 33, 33, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
}
.services_price div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;

}
.services_price div div{
    flex-basis: 120px;
    flex-grow: 1;
    min-height: 35px;
    text-align: left;
}
.services_price div div:first-child{
    flex-basis: 200px;
    flex-grow: 2;
}
.services_price_alone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 2px 4px 7px 3px rgba(33, 33, 33, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
}
.services_price_value{
    flex-basis: 400px;
    flex-grow: 1;
}
.services_price_value span:first-child{
    margin-right: 60px;
}
.services_duration{
    flex-basis: 400px;
    flex-grow: 1;
    text-align: right;
}
.services_duration span:first-child{
    margin-right: 60px;
}
#services_depilation .services_price{
    width: 30vw;
}
#services_depilation .services_price div span{
    flex-basis: 100px;
    min-height: 35px;
    text-align: right;
    padding-top: 7px;
}
#services_depilation .services_price div span:first-child{
    flex-basis: 100px;
    flex-grow: 1;
    text-align: left;
}
.about_us{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
#about h4{
    margin-top: 60px;
}
.about_main_img{
    width: 170px;
    margin-right: 50px;
    margin-left: 50px;
}
.about_text{
    flex-basis: 300px;
    flex-grow: 1;
}
.about_photos{
    font-size: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.about_photos img{
    height:15vw;
    opacity: 1;
    vertical-align: top;

    transform-origin: 0% 0%;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;

    -webkit-transform-origin: 0% 0%;
    -webkit-transition-property: transform, opacity;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
}
#zoomwall.lightbox img {
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
}

#zoomwall.lightbox img {
    opacity: 0.3;
}

#zoomwall.lightbox img.active {
    opacity: 1;
}

.gp-gallery-picture-zoom {
    border: none;
    margin: 0;
    position: absolute;
    z-index: 100;
    padding: 5px;
    background: inherit;
    box-shadow: none;
}
.gp-gallery-picture-hover {
    box-shadow: none;
}
.about_diploms img{
    margin-right: 40px;
    margin-left: 40px;
}
.comments_all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.comments_block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.comments_block div{
    flex-basis: 300px;
    flex-grow: 1;
    box-shadow: 2px 2px 8px 3px rgba(255, 186, 49, 0.8);
    padding: 30px;
    font-size: 12px;
    line-height: 1.2em;
    margin: 25px;

}
.comments_all div img{
    width: 120px;
    height: 100px;

}
.comment_one_img, .comment_three_img{
    float:left;
    padding-right: 15px;
}
.comment_two_img, .comment_four_img{
    float: right;
    padding-left: 15px;
}
.comment_name{
    font-weight: bold;
    margin-bottom: 0;
}
.comment_one p:last-child{
    float:right;
}
#faq{
    margin-bottom: 40px;

}
#faq .container{
    width: 90%;
}
.faq_question{
    font-weight: bold;
}
.contacts_all{
    height: 250px;
    background: url("../img/footer.jpg") no-repeat 100%;
    background-size: cover;
}
.contacts_all_fon{
    background-color: rgba(255,255, 255, 0.5);
    height: 100%;
    padding-top: 20px;
}
.contacts_all_fon .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100%;
}
.contacts_all_fon .container div{
    flex-grow: 1;

}
.contacts_phones{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.contacts_text{
    width: 60px;
}
.contacts_socials a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #c7c5c8;
    font-size: 20px;
    color: #fff;
    margin-left: 15px;
    padding-top: 2px;
}
.contacts_socials a:active, .contacts_socials a:focus, .contacts_socials a:visited{
    outline:none;
}
@media (max-width: 820px) {

}

@media (max-width: 1024px) {
    body{
        font-size: 12px;
    }
    .header_logo_main{
        font-size: 32px;
    }
    .header_logo_text{
        font-size: 12px;
    }
    .header_navbar a{
        font-size: 13px;
    }
    .header_navbar{
        margin-left: 0px;
        margin-right: 25px;
    }
    .header_logo{
        margin-left: 25px;
        margin-right: 0px;
    }
    .slider_text div{
        font-size: 36px;
    }
    .slider_text a{
        font-size: 18px;
        padding-top: 10px;
    }
    h2{
        font-size: 24px;
    }
    .first_page_icons_col div{
       width: 75px;
        height: 75px;
        font-size: 48px;
    }
    .first_page_icons_title{
        font-size: 13px;
    }
    .first_page_icons_text{
        font-size: 11px;
    }
    .services_title{
        font-size: 22px;
    }
    .about_photos img{
        height: 14vw;
    }
    #comments .container{
        width: 95vw;
    }
    .services_price{
        width: 75vw;
    }
    .services_price_alone{
        width: 75vw;
    }
    #services_depilation .services_price{
        width: 40vw;
    }

}